@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color: orange">Bibliothèque De Luxe</h1>
    <a class="btn btn-outline-success shadow transition rounded-pill btn-lg" asp-controller="Emprunts" asp-action="Create">Faire un emprunt</a>
    <a class="btn btn-outline-success shadow transition rounded-pill btn-lg" asp-controller="Reservations" asp-action="Create">Faire une réservation</a>
    <a class="btn btn-outline-success shadow transition rounded-pill btn-lg" asp-controller="Livres" asp-action="Create">Ajouter un livre</a>
    <a class="btn btn-outline-success shadow transition rounded-pill btn-lg" asp-controller="Utilisateurs" asp-action="Index">Afficher la liste des membre</a>
    <hr />
    <form asp-controller="Livres" asp-action="Index">
        <label class="fs-2">
            Rechercher un livre
            <input type="search" name="recherche" class="form-control" />
        </label>
        <input type="submit" class="btn btn-primary" value="Rechercher" />
    </form>
</div>
