html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#welcome-filter {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: white;
    font-size: 2rem;
    text-align: center;
}

#welcome-filter.animate {
    animation: fadeToWhite 7s forwards;
}

#text-wf {
    position: relative;
    opacity: 0;
    top: 40vh;
}
#welcome-filter.animate #text-wf {
    animation: welcomeFade 4s forwards;
}

@keyframes fadeToWhite {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes welcomeFade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
